/*=============================== BUTTON RESET CLASS===================================*/

button.portals-reset-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  --webkit-app-region: no-drag;
  box-shadow: none;
}

/*===================================PORTALS MODAL BUTTON STYLES=====================================*/

/*------Buttons container for all modals-----*/
.portals-fm-modal .modal-button-container,
.portals-cm-modal .modal-button-container,
.portals-add-portal-modal .modal-button-container,
.portals-group-tags-modal .modal-button-container,
.portals-side-portal-modal .modal-button-container,
.portals-icon-picker-modal .modal-button-container,
.portals-reorder-modal .modal-button-container,
.portals-qtn-modal .modal-button-container,
.portals-rename-modal .modal-button-container {
  margin-top: 1.2em;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: var(--size-4-2);
}

/*---Button generic profile (will come to this at the end to unify all modals under this button sizing----*/ 
.portals-modal button,
.portals-add-portal-modal button,
.portals-cm-modal button,
.portals-fm-modal button,
.portals-group-tags-modal button,
.portals-icon-picker-modal button,
.portals-reorder-modal button,
.portals-side-portal-modal button,
.remove-portal-modal button,
.portals-qtn-modal button, 
.portals-rename-modal button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  corner-shape: var(--button-corner-shape);
  border: 0;
  padding: 2px 12px;
  height: var(--input-height);
  font-weight: var(--input-font-weight);
  cursor: var(--cursor);
  font-family: inherit;
  user-select: none;
  white-space: nowrap;
  box-shadow: var(--input-shadow);
}


/*------mod-cta button (save, confirm etc) and its hover/ active/ focus states-----*/
.portals-fm-modal .modal-button-container button.mod-cta,
.portals-cm-modal .modal-button-container button.mod-cta,
.portals-add-portal-modal .modal-button-container button.mod-cta,
.portals-group-tags-modal .modal-button-container button.mod-cta,
.portals-side-portal-modal .modal-button-container button.mod-cta,
.portals-reorder-modal .modal-button-container button.mod-cta,
.portals-qtn-modal .modal-button-container button.mod-cta,
.portals-rename-modal .modal-button-container button.mod-cta  {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
}

.portals-cm-modal .modal-button-container button.mod-cta:hover,
.portals-add-portal-modal .modal-button-container button.mod-cta:hover,
.portals-group-tags-modal .modal-button-container button.mod-cta:hover,
.portals-side-portal-modal .modal-button-container button.mod-cta:hover,
.portals-fm-modal .modal-button-container button.mod-cta:hover,
.portals-reorder-modal .modal-button-container button.mod-cta:hover,
.portals-qtn-modal .modal-button-container button.mod-cta:hover,
.portals-rename-modal .modal-button-container button.mod-cta:hover {
  background-color: var(--interactive-accent-hover);
  color: var(--text-on-accent);
}

.portals-cm-modal .modal-button-container button.mod-cta:focus-visible,
.portals-add-portal-modal .modal-button-container button.mod-cta:focus-visible,
.portals-group-tags-modal .modal-button-container button.mod-cta:focus-visible,
.portals-side-portal-modal .modal-button-container button.mod-cta:focus-visible,
.portals-fm-modal .modal-button-container button.mod-cta:focus-visible,
.portals-reorder-modal .modal-button-container button.mod-cta:focus-visible,
.portals-qtn-modal .modal-button-container button.mod-cta:focus-visible,
.portals-rename-modal .modal-button-container button.mod-cta:focus-visible {
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
  color: var(--text-on-accent);
}

@media (hover: hover) {
  .portals-cm-modal .modal-button-container button.mod-cta:hover,
  .portals-add-portal-modal .modal-button-container button.mod-cta:hover,
  .portals-group-tags-modal .modal-button-container button.mod-cta:hover,
  .portals-side-portal-modal .modal-button-container button.mod-cta:hover,
  .portals-fm-modal .modal-button-container button.mod-cta:hover,
  .portals-reorder-modal .modal-button-container button.mod-cta:hover,
  .portals-qtn-modal .modal-button-container button.mod-cta:hover,
  .portals-rename-modal .modal-button-container button.mod-cta:hover  {
    background-color: var(--interactive-accent-hover);
    color: var(--text-on-accent);
  }
}

/*------mod-warning button (delete, remove etc) and its hover/ active/ focus states-----*/

.portals-fm-modal .modal-button-container button.mod-warning,
.remove-portal-modal button.mod-warning {
  background-color: var(--background-modifier-error);
  color: var(--text-on-accent);
}

.portals-fm-modal .modal-button-container button.mod-warning:hover,
.remove-portal-modal button.mod-warning:hover {
  background-color: color-mix(in srgb, var(--background-modifier-error) 90%, var(--text-color) 10%);
  color: var(--text-color);
}

@media (hover: hover) {
  .portals-fm-modal .modal-button-container button.mod-warning:hover,
  .remove-portal-modal button.mod-warning:hover {
    background-color: color-mix(in srgb, var(--background-modifier-error) 90%, var(--text-color) 10%);
    color: var(--text-color);
  }
}

/*------ button normal (cancel, exit etc) and its hover/ active/ focus states-----*/

.portals-add-portal-modal .modal-button-container button,
.portals-group-tags-modal .modal-button-container button,
.portals-side-portal-modal .modal-button-container button,
.portals-icon-picker-modal .modal-button-container button,
.portals-fm-modal .modal-button-container button,
.portals-qtn-modal .modal-button-container button,
.portals-rename-modal .modal-button-container button {
  color: var(--text-color);
  background-color: var(--interactive-normal);
}

.portals-add-portal-modal .modal-button-container button:hover,
.portals-group-tags-modal .modal-button-container button:hover,
.portals-side-portal-modal .modal-button-container button:hover,
.portals-icon-picker-modal .modal-button-container button:hover, 
.portals-fm-modal .modal-button-container button:hover,
.portals-qtn-modal .modal-button-container button:hover,
.portals-rename-modal .modal-button-container button:hover {
  color: var(--text-color);
  background-color: color-mix(in srgb, var(--interactive-normal) 90%, var(--text-color) 10%);
}

.portals-add-portal-modal .modal-button-container button:focus-visible,
.portals-group-tags-modal .modal-button-container button:focus-visible,
.portals-side-portal-modal .modal-button-container button:focus-visible,
.portals-icon-picker-modal .modal-button-container button:focus-visible,
.portals-fm-modal .modal-button-container button:focus-visible,
.portals-qtn-modal .modal-button-container button:focus-visible,
.portals-rename-modal .modal-button-container button:focus-visible {
  color: var(--text-color);
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);;
}

@media (hover: hover) {
  .portals-add-portal-modal .modal-button-container button:hover,
  .portals-group-tags-modal .modal-button-container button:hover,
  .portals-side-portal-modal .modal-button-container button:hover,
  .portals-icon-picker-modal .modal-button-container button:hover,
  .portals-fm-modal .modal-button-container button:hover,
  .portals-qtn-modal .modal-button-container button:hover,
  .portals-rename-modal .modal-button-container button:hover {
    color: var(--text-color);
    background-color: color-mix(in srgb, var(--interactive-normal) 90%, var(--text-color) 10%);
  }  
}

/*-----------------OTHERS----------------*/

button.mod-loading {
  color: transparent;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}
button.mod-loading::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid transparent;
  border-top-color: var(--text-color);
  border-radius: 50%;
  animation: spin 1s ease infinite;
}