/* -------------- BUTTON RESET CLASS ----------- */

button.portals-reset-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  --webkit-app-region: no-drag;
  box-shadow: none;
}

/*-------------------------PORTALS MODAL BUTTON STYLES -----------------------------*/

/*------Buttons container for all modals-----*/
.portals-fm-modal .modal-button-container,
.portals-cm-modal .modal-button-container {
  margin-top: 1.2em;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/*------mod-cta button (save, confirm etc) and it hover/ active/ focus states-----*/
.portals-modal .modal-button-container button.mod-cta,
.portals-fm-modal .modal-button-container button.mod-cta,
.portals-cm-modal .modal-button-container button.mod-cta {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
}

.portals-fm-modal .modal-button-container button:not(.clickable-icon),
.portals-cm-modal .modal-button-container button:not(.clikable-icon) {
    padding: 4px 8px;
    border-radius: var(--button-radius);
    transition: all 0.15s;
    font-size: normal;
}

.portals-modal .modal-button-container button.mod-cta:hover,
.portals-cm-modal .modal-button-container button.mod-cta:hover {
  background-color: var(--interactive-accent-hover);
}

.portals-cm-modal .modal-button-container button.mod-cta:focus-visible{
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
}

@media (hover: hover) {
  .portals-cm-modal .modal-button-container button.mod-cta:hover{
    background-color: var(--interactive-accent-hover);
  }
}




.portals-fm-modal .modal-button-container button:not(.mod-cta),
.portals-cm-modal .modal-button-container button:not(.mod-cta)  {
    background: var(--background-secondary);
}

.portals-modal .modal-button-container button:not(.mod-cta):hover {
    filter: brightness(1.1);
}

.portals-fm-modal .modal-button-container button.mod-warning {
  background: var(--background-modifier-error);
  color: var(--text-on-accent);
}

.portals-fm-modal .modal-button-container button.mod-warning:hover {
  filter: brightness(1.15);
}

.portals-fm-modal .modal-button-container button.mod-cta:hover,
.portals-cm-modal .modal-button-container button.mod-cta:hover  {
  background: var(--interactive-accent-hover);
}



.portals-group-tags-modal .modal-button-container button.mod-cta {
    background: var(--interactive-accent);
    color: var(--text-on-accent);
}

.portals-group-tags-modal .modal-button-container button.mod-cta:hover {
    filter: brightness(0.95);
}

.portals-group-tags-modal .modal-button-container button:not(.mod-cta) {
    background: var(--background-secondary);
}

.portals-group-tags-modal .modal-button-container button:not(.mod-cta):hover {
    background: var(--background-modifier-hover);
}

.portals-reorder-modal .modal-button-container button.mod-cta:hover {
 background-color: var(--interactive-accent-hover);
 filter: brightness(1.05);
}


/* Buttons */
.portals-modal .portals-modal-button-container {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.portals-modal button:not(.clickable-icon) {
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.15s;
}

.portals-modal .modal-button-container {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.portals-group-tags-modal button:not(.clickable-icon) {
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.15s;
}

.portals-group-tags-modal .modal-button-container {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}


.icon-picker-buttons {
  margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}


.icon-picker-modal button:not(.clickable-icon) {
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.15s;
    margin-top: 10px;
}

.portals-modal-button-container {
    margin-top: 1em;
}


button.mod-loading {
  color: transparent;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}
button.mod-loading::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid transparent;
  border-top-color: var(--text-color);
  border-radius: 50%;
  animation: spin 1s ease infinite;
}