/*================================ GROUP TAG MODAL =============================================*/

.portals-gt-modal .portals-gt-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 16px 0;
    color: var(--text-faint);
    border-bottom: 1px dashed var(--background-modifier-hover);
    padding-bottom: 8px;
}

.portals-gt-modal .modal {
  min-width: auto;
}

.portals-gt-modal .portals-gt-checkbox-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid var(--background-modifier-border);
    border-radius: 10px;
    background: var(--background-secondary);
}

.portals-gt-modal .portals-gt-checkbox-item {
    padding: 6px 8px;
    border-bottom: 1px solid var(--background-modifier-border);
    cursor: pointer;
    transition: background 0.1s;
    display: flex;
    align-items: center;
    font-size: small;
}