
/*================================ ICON PICKER MODAL =============================================*/

.portals-icon-picker-modal {
  max-width: auto;
}

.portals-icon-picker-modal-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 16px 0;
    color: var(--text-faint);
    border-bottom: 1px dashed var(--background-modifier-hover);
    padding-bottom: 8px;
}

.icon-picker-search {
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid var(--background-modifier-border);
    background: var(--background-primary);
    margin-bottom: 16px;
    font-size: 1em;
    transition: border-color 0.15s, box-shadow 0.15s;
}

.portals-icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);
    max-height: 60vh;
    overflow-y: auto;
    padding: 8px;
    border: 1px solid var(--background-modifier-border);
    border-radius: 4px;
    background-color: var(--background-primary);
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
}

.icon-item:hover {
    background-color: var(--background-modifier-active-hover);
}

.portals-icon-label {
    font-size: 9px;
    margin-top: 4px;
    word-break: break-word;
    text-align: center;
}

.portals-icon-picker-icon {
    font-size: 24px;
}

.portals-load-more-btn {
    grid-column: 1 / -1;
    text-align: center;
    padding: 8px 16px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--background-modifier-actove-hover);
    color: var(--text-muted);
    font-size: 0.9em;
}
.portals-load-more-btn:hover {
    background: var(--background-modifier-active-hover);
    color: var(--text-normal);
}

.portals-iconpicker-subtext {
  font-size: var(--font-ui-smaller);
  color: var(--text-faint);
  text-align: center;
}

