/*================================ Quick Switch Modal=============================================*/
/*BODY LEVEL*/
.portals-qtn-backdrop {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--background-modifier-cover);
    z-index: 45;
}

.portals-qtn-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--layer-modal);
    background-color: var(--background-primary);
    border: var(--modal-border-width) solid var(--modal-border-color);
    border-radius: var(--modal-radius);
    box-shadow: var(--shadow-l);
    padding: var(--size-4-4);
    width: auto, var(--dialog-width);
    min-width: 320px;
    max-width: var(--dialog-max-width);
    max-height: var(--dialog-max-height);
    overflow-y: auto;
}

.portals-qtn-modal .qtn-popup-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 16px 0;
    color: var(--text-faint);
}

.portals-qtn-modal .qtn-input-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
  padding-bottom: 16px;
}

.portals-qtn-modal-subtext {
  font-size: x-small;
  color: var(--text-faint);
  padding: 5px 0;
  margin-top: 5px;
  margin-bottom: 16px;
  border-top: 1px dashed var(--background-modifier-hover);
  border-bottom: 1px dashed var(--background-modifier-hover);
  text-align: left;
}

.portals-qtn-dropdown {
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--background-modifier-border);
  background-color: var(--background-primary);
  border-radius: var(--input-radius);
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px 8px;
  color: var(--text-muted);
  font-size: var(--font-ui-small);
  font-weight: var(--input-font-weight);
  height: var(--input-height);
  line-height: var(--input-height-tight);
  cursor: pointer;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.portals-qtn-dropdown:hover {
  background-color: color-mix(in srgb, var(--background-primary) 80%, var(--background-modifier-form-field) 20%);
  filter: brightness(1.05);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.portals-qtn-dropdown:focus-visible {
  background-color: color-mix(in srgb, var(--background-primary) 80%, var(--background-modifier-form-field) 20%);
  outline: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.portals-qtn-dropdown.mobile-tap {
  background-color: color-mix(in srgb, var(--background-primary) 80%, var(--background-modifier-form-field) 20%);
  outline: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

@media (hover: hover) {
  .portals-qtn-dropdown:hover {
    background-color: color-mix(in srgb, var(--background-primary) 80%, var(--background-modifier-form-field) 20%);
    filter: brightness(1.05);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }
}
