/*================================ SIDE PORTAL MODAL =============================================*/
.portals-sp-backdrop {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--background-modifier-cover);
    z-index: 45;
}

.portals-sp-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--layer-modal);
    background-color: var(--background-primary);
    border: var(--modal-border-width) solid var(--modal-border-color);
    border-radius: var(--modal-radius);
    box-shadow: var(--shadow-l);
    padding: var(--size-4-4);
    width: auto, var(--dialog-width);
    min-width: 350px;
    max-width: var(--dialog-max-width);
    max-height: var(--dialog-max-height);
    overflow-y: auto;
}

.portals-sp-modal .portals-sp-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 16px 0;
    color: var(--text-faint);
    border-bottom: 1px dashed var(--background-modifier-hover);
    padding-bottom: 8px;
}


.portals-sp-modal .portals-sp-modal-subtext {
  font-size: var(--font-ui-smaller);
  color: var(--text-faint);
  text-align: left;
  margin-bottom: 20px;
}

.portals-sp-modal .portals-sp-checkbox-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 12px;
    margin-bottom: 8px;
    padding: 8px 0;
    max-height: 300px;
    overflow-y: auto;
    border-bottom: 1px dashed var(--background-modifier-border);
    justify-content: flex-end;
}

.portals-sp-checkbox-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 12px;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid var(--background-modifier-border);
    cursor: pointer;
    transition: background 0.1s;
    font-size: small;
}

.portals-sp-checkbox-label {
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab-left-check,
.tab-right-check {
    justify-self: center;
    margin: 0;
    width: 18px;
    height: 18px;
}

.portals-sp-left-tab-name,
.portals-sp-right-tab-name {
    justify-self: center;
}

@media (max-width: 500px) {
    .portals-sp-modal {
        min-width: 300px;
        width: 90%;
    }
    .portals-sp-checkbox-container,
    .portals-sp-checkbox-item {
        grid-template-columns: 2fr 0.8fr 0.8fr;
        gap: 8px;
    }
}
